$transition-duration: 0.3s;

.toggles {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.toggle {
  padding: 0.5rem;

  cursor: pointer;
  transition: all $transition-duration ease;

  &:hover {
    transform: scale(1.25);
  }
}
