$spacing: 1rem;
$black: #0C0C0D;
$transition-duration: 0.3s;

body {
  margin: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: ($spacing * 3) $spacing;
  max-width: 64rem;

  transition: all $transition-duration ease;
}

.nightMode {
  color: #fff;

  background-color: $black;

  transition: all $transition-duration ease;
}
