$spacing: 1rem;
$black: #0C0C0D;
$transition-duration: 0.3s;

body {
  margin: 0;
}

.outer {
  position: relative;
  display: flex;
}

.inner {
  margin-right: auto;
  margin-left: auto;
  padding: ($spacing * 2) $spacing;
  max-width: 64rem;
}

.innerAbsolute {
  margin-left: 380px;
  padding-right: $spacing * 2;
  padding-left: $spacing * 2;
}

.nightMode {
  color: #fff;

  background-color: $black;

  transition: all $transition-duration ease;
}
